name: Deploy
on:
  push:
    branches:
      - "main"
jobs:
  deploy:
    environment: "2022"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform
    steps:
      - uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_TOKEN }}
      - run: terraform init
      - run: terraform apply -auto-approve -input=False 